files:
    "/etc/logrotate.d/docker" :
        mode: "000644"
        owner: root
        group: root
        content: |
/var/lib/docker/containers/*/*.log {
	rotate 7
	daily
	compress
	delaycompress
	copytruncate
	sharedscripts
	postrotate
		/usr/bin/docker restart $(docker ps -q)
	endscript
    }

commands: 
  01-execute-actions: 
    command: "rm -rf /tmp/nginx"
  02-execute-actions: 
    command: "mkdir -p /tmp/nginx"
  03-execute-actions: 
    command: "unzip -u /opt/elasticbeanstalk/deploy/appsource/source_bundle -d /tmp/nginx"
  04-execute-actions: 
    command: "/tmp/nginx/.ebextensions/scripts/nginx.sh"
