commands:
  01-create_post_dir:
    command: "mkdir -pv /opt/elasticbeanstalk/hooks/appdeploy/post/"
  02-copy-link-access-log:
    command: "cp /tmp/nginx/.ebextensions/scripts/link_access_log.sh /opt/elasticbeanstalk/hooks/appdeploy/post/20link_access_log.sh"
  03-logstash-deploy:
    command: "/tmp/nginx/.ebextensions/scripts/logstash-deploy.sh"
