commands: 
  01-execute-actions: 
    command: "cp /tmp/nginx/.ebextensions/scripts/docker_log.sh /usr/local/bin"
  02-execute-actions: 
    command: "chmod 750 /usr/local/bin/docker_log.sh"
  03-execute-actions:
    command: "echo 0 * * * * /usr/local/bin/docker_log.sh > /dev/null" > /var/spool/cron/root
  04-execute-actions:
    command: "rm -rf /tmp/nginx"
